.item {
  position: relative;
  margin-right: 5px;
  .count {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    font-size: 12px;
    font-weight: 600;
  }
  .detail {
    display: none;
  }
  &:hover {
    .detail {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: max-content;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      border: 2px solid burlywood;
      position: absolute;
      .itemName {
        color: purple;
        margin: 5px 0;
        text-align: center;
      }
      .magic {
        color: greenyellow;
        font-weight: 500;
      }
      p {
        margin: 0;
      }
    }
  }
}
